slurm/
logs/
*.err
*.out
*.pyc
*.mp4

archive/*
interface/
comparison_results_*
# Ignore everything in models directory
models/*

# But keep these specific files
!models/ppo_car_racing_best.pt
!models/ppo_car_racing_best.zip
!models/sac_car_racing_best.pt